/*!CK:1357324067!*//*1382651587,178191655*/

._58vt.fbChatSidebar{background:#31353e;border-left:0;border-right:0;box-shadow:none}
._58vt.fbChatSidebar:after{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAABBAMAAAARLvJwAAAAGFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABWNxwqAAAACHRSTlNqUDkmFwsEAB0azmcAAAANSURBVAgdY2BUdk0HAAFjANHsM9n+AAAAAElFTkSuQmCC);background-repeat:repeat-y;background-size:auto;background-position:0 0;bottom:0;content:'';left:0;pointer-events:none;position:absolute;top:0;width:8px;z-index:10}
._58vt .fbFeedTicker .attachmentLink, ._58vt .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._58vt .fbFeedTicker .fbFeedTickerStory .messageBody, ._58vt .fbFeedTicker .fbFeedTickerStory .uiStreamPassive, ._58vt .fbFeedTicker .fbFeedTickerStory .tickerAttachmentBodyText, ._58vt .fbFeedTicker .tickerStoryClickable a, ._58vt .fbFeedTicker .tickerStoryClickable .actorDescription, ._58vt .fbFeedTicker .tickerStoryClickable .passiveName, ._58vt .fbFeedTicker .tickerStoryClickable .token{color:#c2c4cc;text-shadow:0 1px 2px rgba(0, 0, 0, .25)}
._58vt .uiStreamMessage .wallArrowIcon, ._58vt .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage .wallArrowIcon{background-image:url(/rsrc.php/v2/y8/r/VQFyTaapGxj.png);background-repeat:no-repeat;background-size:auto;background-position:0 -42px;height:11px;width:9px}
body ._58vt .fbFeedTicker .fbFeedTickerStory, body ._58vt .fbFeedTicker .fbFeedTickerStory:hover{border:0;box-shadow:none}
._58vt .fbFeedTicker .tickerStoryActive, ._58vt .fbFeedTicker .tickerStoryClickable:focus, ._58vt .fbFeedTicker .tickerStoryClickable:hover{background-color:#1f2228 !important;outline:none}
.fbChatSidebar._58vt .tickerStoryImage{border-radius:2px;box-shadow:0 1px 1px rgba(0, 0, 0, .35)}
._58vt .uiMorePager .uiMorePagerLoader, ._58vt .uiMorePager .uiMorePagerPrimary{background:#252730;border:0;color:#fff;text-decoration:none}
._58vt .fbSidebarGripper{border-bottom-color:#3c3f49;border-top-color:#1c1e22}
._58vt .fbSidebarGripper div{background:#25282f;border:0;height:3px}
._58vt .fbSidebarGripper div span{display:none}
._58vt.fbChatSidebar div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-48px -33px;background-color:transparent;height:32px;width:24px}
._58vt.fbChatSidebar ._5qth .uiCloseButton:hover{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:0 -33px}
._58vt.fbChatSidebar ._5qth .openToggler .uiCloseButton, ._58vt.fbChatSidebar ._5qth .uiCloseButton:active{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-24px -33px;background-color:#333741;border-left-color:transparent !important;border-right-color:transparent !important}
._58vt .contentAfter .uiScrollableAreaTrack:hover, ._58vt .contentBefore .uiScrollableAreaTrack:hover, ._58vt .contentAfter.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._58vt .contentBefore.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._58vt .uiScrollableAreaDragging .uiScrollableAreaTrack{background:rgba(0, 0, 0, .15)}
._58vt .uiScrollableAreaGripper{background:rgba(255, 255, 255, .5);border-color:transparent}
._4_3k{background-image:url(/rsrc.php/v2/ys/r/jNyi2LqVj4U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -52px;height:12px;position:absolute;right:12px;width:12px}
._4_3k:hover{background-image:url(/rsrc.php/v2/ys/r/jNyi2LqVj4U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -65px}
._4_3l ._53ij{background:#5890ff;border:0;border-radius:3px;box-shadow:0 1px 4px rgba(0, 0, 0, .3);padding:12px 36px 12px 12px;width:172px}
._4_3j, #pagelet_litestand_section_nav ._4_3j{border:3px solid #5890ff;border-radius:6px}
#pagelet_litestand_section_nav ._4_3j{margin:-3px 0 0 -3px}
#chatFriendsOnline._4_3j{margin:-3px -15px;padding-left:12px;padding-right:12px}
.fbChatSidebar ._4_3j{padding:7px;z-index:12}
._4kdq #pagelet_sidebar ._4_3j{padding:7px 4px;right:150px}
._4_3l ._53io{background-image:none;height:0;width:0}
._4_3l.uiLayer ._53il ._53io{background:transparent;border-bottom:9px solid #5890ff;border-left:9px solid transparent;border-right:9px solid transparent;height:0;width:0}
._4_3l.uiLayer ._53ik ._53io{background:transparent;border-left:9px solid transparent;border-right:9px solid transparent;border-top:9px solid #5890ff;height:0;width:0}
._4_3l.uiLayer ._53in ._53io{background:transparent;border-bottom:9px solid transparent;border-right:9px solid #5890ff;border-top:9px solid transparent;height:0;width:0}
._4_3l.uiLayer ._53im ._53io{background:transparent;border-bottom:9px solid transparent;border-left:9px solid #5890ff;border-top:9px solid transparent;height:0;width:0}
._4_3m{color:#fff;font-size:14px;line-height:18px;text-shadow:0 0 2px rgba(0, 0, 0, .3)}
._55og .presenceIndicator._4_3j{border:none;height:14px;margin-left:1px;padding-left:2px;position:absolute}
._4r38{margin-top:-16px;position:absolute;right:2px;top:50%;z-index:1}
._5ap0 ._4r38, ._4kdq .fbChatSidebar ._4r38{right:147px}
._4r39{background-image:url(/rsrc.php/v2/ys/r/jNyi2LqVj4U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -39px;display:block;height:12px;left:3px;position:relative;width:15px}
._4r38._4trx ._4r39, ._4r38:hover ._4r39, ._4r38:active ._4r39{background-image:url(/rsrc.php/v2/ys/r/jNyi2LqVj4U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -26px}
._5bci ._4r39{background-image:url(/rsrc.php/v2/ys/r/jNyi2LqVj4U.png);background-repeat:no-repeat;background-size:auto;background-position:0 -13px;height:12px;width:15px}
._5bci ._4r38._4trx ._4r39, ._5bci ._4r38:hover ._4r39, ._5bci ._4r38:active ._4r39{background-image:url(/rsrc.php/v2/ys/r/jNyi2LqVj4U.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._5bml._4r38{bottom:0;left:0;margin:0;padding:15px 0;position:absolute;right:0;top:auto}
._5bml ._4r39{left:50%;margin-left:-8px;position:relative}
.sp_bipa70{background-image:url(/rsrc.php/v2/ys/r/jNyi2LqVj4U.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:15px}
.sx_ee17b8{width:12px;background-position:0 -52px}
.sx_29eed4{width:12px;background-position:0 -65px}
.sx_525a73{background-position:0 0}
.sx_72444b{background-position:0 -13px}
.sx_ed251e{background-position:0 -26px}
.sx_75e812{background-position:0 -39px}

#bootloader_teYtK { height: 42px; }
.bootloader_teYtK { display:block !important; }