/*!CK:1616440539!*//*1383261857,173214747*/

.followListFilter{border-bottom:1px solid #e9e9e9}
.uiButton ._5lzk.customimg{margin-top:2px}
html ._5ry-._5lzj:focus, html .gecko ._5ry-._5lzj:focus, html ._5ry-._5ry_:focus, html .gecko ._5ry-._5ry_:focus{box-shadow:none}
._5lzl ._5lzk, ._5lzl ._5lzk.customimg{margin-top:2px}
.uiButtonLarge ._5lzk.customimg{margin-top:4px}
._5lzk._5lzm.customimg{margin-right:4px}
.uiButtonGroup._5lzn{margin-left:4px}
._5lzo.profileHeaderButton{margin:7px 0 0 10px}
._5rz0{margin-left:3px;margin-right:3px}
._5lzp{margin-top:10px}
._5lzp .FriendRequestAdd{margin-left:4px}
._5rz1._5rz2.img{margin-top:2px}
.followOptinPrompt{background-color:#f5f7fa;border:1px dashed #ced5e5;border-width:0 0 1px 0;margin:-15px -20px 15px}
.followOptinPromptTimeline{background-color:#f5f7fa;margin:-5px -20px 15px}
.followOptinPromptTimelineCollections{background-color:#f5f7fa;border:1px dashed #ced5e5;margin-bottom:15px;padding:15px}
.followOptinPrompt .followOptinPromptCloseButton,
.followOptinPromptTimeline .followOptinPromptCloseButton,
.followOptinPromptTimelineCollections .followOptinPromptCloseButton{float:right}
.subscribeNoThanks{padding-left:10px;padding-top:4px}
.subscriptionsTable .labelItem{width:220px}
.subscriptionsTable .contentsItem{width:559px}
.async_saving .moreLink{display:none}
.subscriptionsTable tr{border-bottom:1px solid #e9e9e9}
.subscriptionsTable td{padding:10px 0 25px 0}
.singleWidget .timelineUnitContainer{margin-left:-7px}
.subscriptionsTable .friendListListItem .lighterLink a{color:#6d84b4}
._3sv- .fbProfileBrowserListContainer{padding-top:13px}
._3sv- .fbProfileBrowserListContainer .followListItem{border:1px solid #e5e5e5;display:inline-block;margin:0 0 13px 13px;padding:0 10px 0 0;vertical-align:top;width:390px}

#bootloader_DR9Lh { height: 42px; }
.bootloader_DR9Lh { display:block !important; }